.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  color: var(--color-base);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards a.button:any-link {
  color: #000;
  background-color: #FFF;
  font-size: var(--heading-font-size-m);
  font-family: var(--heading-font-family);
  line-height: 1.6;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  white-space: normal;
  padding: 0;
}