footer {
  padding: 2rem;
  color: #FFF;
  background-color: #101010;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: #FFF;
}

footer .footer img {
  width: unset;
  padding: 10px;
}

footer .columns > div {
  align-items: start;
}